In [1]:
import extract_data as ed
import pandas as pd
import matplotlib.pyplot as plt
import pickle as pkl

### Data Extraction+Cleaning

In [2]:
data_df =ed.load_data()

In [3]:
data_df.head()

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,4llunZfVXv3NvUzXVB3VVL,Maria,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],8,1,False,0.277,...,0.0883,0.00694,0.000054,0.1880,0.618,172.848,228093,4.0,1999,1999-11-02
1,21Mq0NzFoVRvOmLTOnJjng,Voice of the Voiceless,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],9,1,False,0.441,...,0.0440,0.01950,0.006840,0.1500,0.418,83.371,151573,4.0,1999,1999-11-02
2,2LXPNLSMAauNJfnC58lSqY,Born of a Broken Man,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],6,1,False,0.298,...,0.0727,0.05380,0.001520,0.2010,0.194,148.282,280960,4.0,1999,1999-11-02
3,7o2Razxnl33Jrgz4PpMYNa,Ashes In the Fall,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],11,1,True,0.456,...,0.0982,0.00520,0.000004,0.0595,0.656,140.629,277267,4.0,1999,1999-11-02
4,3Hxu3Ey1TV9mZ5XqMXckiS,War Within a Breath,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],12,1,False,0.399,...,0.1430,0.00442,0.031400,0.3670,0.174,98.464,216427,4.0,1999,1999-11-02

In [4]:
data_df = data_df.drop(["album_id","track_number", "disc_number", "time_signature"], axis = 1)
data_df = data_df.dropna()

In [5]:
#Focus on data from 1980s onwards
data_df = data_df[data_df.year>1979]

In [6]:
data_df.columns

Index(['id', 'name', 'album', 'artists', 'artist_ids', 'explicit',
       'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'duration_ms', 'year', 'release_date'],
      dtype='object')

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1173210 entries, 0 to 1204024
Data columns (total 20 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   id                1173210 non-null  object
 1   name              1173210 non-null  object
 2   album             1173210 non-null  object
 3   artists           1173210 non-null  object
 4   artist_ids        1173210 non-null  object
 5   explicit          1173210 non-null  object
 6   danceability      1173210 non-null  float64
 7   energy            1173210 non-null  float64
 8   key               1173210 non-null  int64
 9   loudness          1173210 non-null  float64
 10  mode              1173210 non-null  int64
 11  speechiness       1173210 non-null  float64
 12  acousticness      1173210 non-null  float64
 13  instrumentalness  1173210 non-null  float64
 14  liveness          1173210 non-null  float64
 15  valence           1173210 non-null  float64
 16  tempo             1173210 non-null  float64
 17  duration_ms       1173210 non-null  int64
 18  year              1173210 non-null  int64
 19  release_date      1173210 non-null  object
dtypes: float64(9), int64(4), object(7)
memory usage: 188.0+ MB

In [ ]:
###Note: To be run after app is complete!!!

#Add new features in chunks: 
l, chunk_size, itr = len(data_df), 3000, 0
start, end = 0, chunk_size-1
data_extended = pd.DataFrame()

while itr<(l//chunk_size + 1): 
    print(itr)
    data_chunk = data_df.loc[start:end]
    data_chunk = data_chunk.apply(ed.add_features, axis=1)
    data_extended = data_extended.append(data_chunk)
    
    if l-(end+1)<chunk_size:
        start, end = start+chunk_size, l
    else:
        start, end = start+chunk_size, end+chunk_size
      
    itr=itr+1

### EDA

In [ ]:
data_df.corr()

### Save final processed data

In [8]:
#Pickle final processed dataframe

data_df.to_csv('processed_data.csv',index=False)   
pkl.dump(data_df, open("processed_df.pkl" ,"wb"))